.todo-container{
width: 450px;
min-height: 65px;
background-color: #1b1b32;
margin: 5px 0;
padding: 8px  15px 8px 20px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 10px;
border: 1px solid #d0d0d5;
cursor: pointer;

}
.todo-container-completed{
width: 450px;
min-height: 65px;
background-color: #6d6a70;
text-decoration: line-through;
margin: 5px 0;
padding: 8px  15px 8px 20px;
display: flex;
justify-content: space-between;
align-items: center;
border-radius: 10px;
border: 1px solid #d0d0d5;
cursor: pointer;

}

.todo-container:nth-child(3n+1){
  background-color: #1b1b32;
}
.todo-container:nth-child(3n+2){
  background-color: #2a2a40;
}
.todo-container:nth-child(3n+2){
  background-color: #3b3b4f;
}




.todo-text{
  width: 100%;
  height: 100%;
  font-size: 20px;
  display: flex;
  align-items: center;
  overflow-wrap: anywhere;
}

.todo-icon{
width: 40px;
height: 40px ;
margin: 5px;


}
